@charset "utf-8";

*{
	padding:0px;
	margin:0px;
	outline:none;
}
body{
	background-repeat:no-repeat;
	background-position:top center;
	background-attachment:fixed;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.m-content,.m-foot,.navigation-bar-content{
	width: 998px;
	margin: 0 auto;
	text-align: left;
}
.blank-split{
	height:10px;
}
.list-across{
	display: inline-block!important;
	width:329px!important;
}
.pagination-right{
	margin-bottom: 40px!important;
}
.pagination-right ul{
	float:right;
}
